<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="urdf_car">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 0 0.00750000000000001"
        rpy="0 0 0" />
      <mass
        value="0.903152641862503" />
      <inertia
        ixx="0.00331952002262307"
        ixy="6.61744490042419E-20"
        ixz="-2.66363609833383E-20"
        iyy="0.00637018844585826"
        iyz="-1.28871493698256E-20"
        izz="0.00965617158426167" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.0799810864557787 -0.135000140308011 0.00750004919415326"
        rpy="0 0 0" />
      <mass
        value="0.250701027337882" />
      <inertia
        ixx="0.000313933983389847"
        ixy="3.27673435490304E-10"
        ixz="5.15078204048487E-08"
        iyy="0.000548619696934756"
        iyz="8.32894651549933E-11"
        izz="0.00031393368417998" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.0799812186524581 0.135000192250082 0.00749995068893528"
        rpy="0 0 0" />
      <mass
        value="0.25069921775013" />
      <inertia
        ixx="0.000313932016659904"
        ixy="6.11892006513925E-11"
        ixz="-5.15076246609575E-08"
        iyy="0.000548615980204378"
        iyz="8.34376251513493E-11"
        izz="0.000313931718831378" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.0800187813475412 0.135000192250082 0.0074999506889355"
        rpy="0 0 0" />
      <mass
        value="0.250699217750129" />
      <inertia
        ixx="0.000313932016659899"
        ixy="6.11892024378994E-11"
        ixz="-5.15076246611616E-08"
        iyy="0.000548615980204373"
        iyz="8.34376253371191E-11"
        izz="0.000313931718831372" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.0800188789783767 -0.135000142297446 0.00750004927088538"
        rpy="0 0 0" />
      <mass
        value="0.250700755460129" />
      <inertia
        ixx="0.000313933648430408"
        ixy="3.11748932232448E-10"
        ixz="5.1508188059857E-08"
        iyy="0.000548618979381962"
        iyz="8.30189378718578E-11"
        izz="0.000313933349437551" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_car/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_4" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
</robot>